@import "./null.scss";
@import "./shared.scss";
.app {
  text-align: center;
}
a {
  font-size: 1.1rem;
}
p {
  margin-bottom: 0;
}
.text {
  font-size: 1rem;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}
.header__inner {
  display: flex;
  gap: 3em;
}
//----ANTD block

.ant-layout-content {
  min-height: 90vh;
}
.ant-breadcrumb {
  padding: 2em 0;
}
.ant-input-wrapper {
  padding: 2em 0 0;
}
.ant-picker {
  margin-bottom: 1em;
}
.spin {
  max-width: 50px;
  margin: 0 auto;
  padding: 3em 0;
}
.ant-breadcrumb a {
  color: $dark75;
}
.ant-pagination {
  margin-bottom: 2em;
}
.ant-layout-header {
  height: 90px;
}
@media (max-width: 590px) {
  .ant-picker-panel-container .ant-picker-panels {
    flex-direction: column;
  }
  .ant-picker-dropdown-range {
    padding-top: 90px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 0 5px;
  }
}
