
$dark100: rgb(42, 60, 80);
$dark75: rgb(1, 93, 212);
$dark50: rgb(0, 50, 136);
$white: rgb(255, 255, 255);
$link: rgb(0, 126, 42);
$title: rgb(101, 0, 0);
$red: rgb(255, 0, 0);

$shadow20: 4px 4px 8px 0px rgba(0, 60, 80, 0.2);
$shadow50: 4px 4px 10px 2px rgba(0, 69, 165, 0.5);
$shadowinput: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
