
$dark100: rgb(42, 60, 80);
$dark75: rgb(99, 112, 129);
$dark50: rgb(124, 152, 179);
$dark25: rgb(172, 203, 225);
$white: rgb(255, 255, 255);
$link: rgb(0, 126, 42);
$title: rgb(101, 0, 0);
$red: rgb(255, 0, 0);

$shadow20: 4px 4px 8px 0px rgba(0, 60, 80, 0.2);
$shadow50: 0px 0px 8px 4px rgba(0, 38, 102, 0.5);
$shadowinput: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
